.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin-top:50px;
  margin-bottom: 100px;
  background-color: wheat;
}

h1{
  color:red;
  border: 6px solid purple;
  background-color: plum;
  display : inline;
  margin : 10px;
  padding : 10px;
}

p{
  border:6px solid green;
  background-color: greenyellow;
  text-align: justify;
  margin:50px;
  padding:20px;
}

img{
  display: block; 
  margin: 40px auto;
  border: 6px solid black;
}

.nav{
  text-decoration: none;
  font-size:20px;
  color : black;
  font-weight: bold;
}

.notice{
  display:block;
  text-align: center;
  font-size:2rem;
  margin : 50px;
  padding : 10px;
}

.kimcoder{
  font-size: 1rem;
  text-decoration : none;
  font-weight: bolder;
  color : black;
  border:6px solid black;
  background-color: whitesmoke;
  text-align: justify;
  margin:50px;
  padding:20px;
}